<div class="up">
    <a name=  "up">.</a>
</div>
<div id="titulo">
    <h2>Shoppe Best Sellers</h2>
    <p>Your tried and true favorites. Explore our best-selling styles for timeless interiors you'll love to call home.</p>
</div>
    
<div class="cont">
    <div class="item">
        <img  class="item-img"src="https://cdn.shopify.com/s/files/1/0233/8069/products/AmberInteriors-ClientWhatsTheStorySpanishGlory117_720x.jpg?v=1620680793">
        <div class="hover">
            <h1>Austen Outdoor Chair Faux Rattan</h1>
            <p>$1,250</p>
        </div>
    </div>

    <div class="item">
        <img class="item-img"src="https://cdn.shopify.com/s/files/1/0233/8069/products/PF8A8077_720x.jpg?v=1619469374">
        <div class="hover">
            <h1>Bayu Buffet</h1>
            <p>$3,900</p>
        </div>
    </div>
    <div class="item">
        <img class="item-img"src="https://cdn.shopify.com/s/files/1/0233/8069/products/73aac7b0b8576abc6805a2f526ef4951_720x.jpg?v=1591958406">
        <div class="hover">
            <h1>Sybil Armchair</h1>
            <p>$1,500</p>
        </div>
    </div>
</div>

<div class="cont">
      <div class="item">
        <img class="item-img"src="https://cdn.shopify.com/s/files/1/0233/8069/products/IdentiteCollectivexAmberInteriorsGiveawy_MadelineHarperPhoto11_720x.jpg?v=1622072768">
        <div class="hover">
            <h1>Austin Side Table</h1>
            <p>FROM $3,200</p>
        </div>
     </div>
    <div class="item">
        <img class="item-img" src="https://cdn.shopify.com/s/files/1/0233/8069/products/shoppe-amber-interiors-6-17-20-17_5c869d1c-5a0d-4459-a53c-6772202103a2_600x600@2x.jpg?v=1615855500">
        <div class="hover">
            <h1>Milo Chaise</h1>
            <p>$4,800</p>
        </div>
    </div>
    <div class="item">
        <img class="item-img" src="https://cdn.shopify.com/s/files/1/0233/8069/products/1x1-crop-shoppe-amber-interiors-5X4A0746-5_8f0b7419-aa67-4c12-8412-1dfed05e6c0e_600x600@2x.jpg?v=1620147121">
        <div class="hover">
            <h1>X Base Oval Dining Table</h1>
            <p>$8,800</p>
        </div>
    </div>  
</div>

<div class="up">
    <a href="#up"><img src="/multimedia/iconos/up.png" alt=""></a>
</div>