<div id="titulo">
    <h2>Shoppe Digital Lookbook</h2>
    <p>Our take on Amber Lewis' classic California Eclectic style, filled with Made by Shoppe pieces mixed with curated and collected accents. <br> Learn more about each piece by clicking on any image.</p>
</div>
    <div id="img1">
        <div class="uno">
            <img class="jo" src="https://cdn.shopify.com/s/files/1/0233/8069/files/Shoppe-Amber-Interiors-Digital-Lookbook---Edition-Two25_1800x_2048x_5a535d59-2d08-4a87-be05-fba8bf0841be_1080x.jpg?v=1583852604">

        </div>

        <div class="uno">
            <img class="je" src="https://cdn.shopify.com/s/files/1/0233/8069/files/Malibu_shoppe4944_1800x_1080x_9d2edbd8-b3bc-46d9-a624-e2f96a8444bb_540x.jpg?v=1583852661">

        </div>
    </div>
    <div id="contenedor">
        <div class="img">
            <img class="ji" src="https://cdn.shopify.com/s/files/1/0233/8069/files/Malibu_shoppe4944_1080x_22ba4caf-9313-4b49-89b1-a8f12a5cf192_540x.jpg?v=1583852675">

        </div>
        <div class="img">
            <img class="ju"src="https://cdn.shopify.com/s/files/1/0233/8069/files/Malibu_shoppe4736_2048x_0637ed8f-ee56-4592-8631-1cefa9b5b676_1080x.jpg?v=1583852895">
        </div>

        <div class="img">
            <img class="ja"src="https://cdn.shopify.com/s/files/1/0233/8069/files/Malibu_shoppe5274_1800x_2048x_69cba4c2-2412-4b1e-a6e4-18f61f700f04_1080x.jpg?v=1583852978">
        </div>

    </div>

    <div id="video">
        <iframe width="660" height="400" src="https://www.youtube.com/embed/PK2eDPmDr9c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        
         
            <!-- <img class="ad" src="https://www.marketing91.com/wp-content/uploads/2018/08/Marketing-Strategy-of-Pantene-3.jpg"> -->
            <img class="ad" src="http://images.summitmedia-digital.com/preview/images/2018/05/02/OILSnm.gif">

    </div>
    
