<div class="up">
    <a name=  "up">.</a>
</div>
<div id="titulo">
    <h2>Furniture</h2>
    <p>A collection of our Made by Shoppe line, collected finds and <br> curated favorites.</p>
</div>
    
<div class="cont">
    <div class="item">
        <img  class="item-img"src="https://cdn.shopify.com/s/files/1/0233/8069/products/shoppe-amber-interiors-summer-2021-5X4A0423-Edit-164_720x.jpg?v=1620432023">
        <div class="hover">
            <h1>Austen Outdoor Chair Faux Rattan</h1>
            <p>$1,250</p>
        </div>

    </div>

    <div class="item">
        <img class="item-img"src="https://cdn.shopify.com/s/files/1/0233/8069/products/1x1-crop-shoppe-amber-interiors-scotland2021-864-Edit-11_4a36a1cd-cc65-46f3-a093-7a07f95aadd2_720x.jpg?v=1614709403">
        <div class="hover">
            <h1>Bayu Buffet</h1>
            <p>$3,900</p>
        </div>

    </div>
    <div class="item">
        <img class="item-img"src="https://cdn.shopify.com/s/files/1/0233/8069/products/1x1-crop-shoppe-amber-interiors-scotland2021-1390-HDR-8_720x.jpg?v=1617135617">
        <div class="hover">
            <h1>Sybil Armchair</h1>
            <p>$1,500</p>
        </div>

    </div>

</div>
<div class="cont">
      <div class="item">
        <img class="item-img"src="https://cdn.shopify.com/s/files/1/0233/8069/products/1x1-crop-shoppe-amber-interiors-5X4A2508-6_720x.jpg?v=1614376286">
        <div class="hover">
            <h1>Austin Side Table</h1>
            <p>FROM $3,200</p>
        </div>

     </div>
    <div class="item">
        <img class="item-img" src="https://cdn.shopify.com/s/files/1/0233/8069/products/1x1-crop-shoppe-amber-interiors-scotland2021-1334-20_720x.jpg?v=1621632146">
        <div class="hover">
            <h1>Milo Chaise</h1>
            <p>$4,800</p>
        </div>

    </div>
    <div class="item">
        <img class="item-img" src="https://cdn.shopify.com/s/files/1/0233/8069/products/1x1-crop-shoppe-amber-interiors-5X4A2691-Edit-6_1d8cd0ac-8857-4daa-8919-2f40f4c9529a_900x.jpg?v=1619041070">
        <div class="hover">
            <h1>X Base Oval Dining Table</h1>
            <p>$8,800</p>
        </div>

    </div>  

</div>
<div class="cont">
    <div class="item">
        <img class="item-img" src="https://cdn.shopify.com/s/files/1/0233/8069/products/1x1-crop-shoppe-amber-interiors-scotland2021-1320-Edit-17_7e84aa5f-8b17-42c9-b9e4-7e77d1081ded_720x.jpg?v=1614378850">
        <div class="hover">
            <h1>Millerton Dining Table</h1>
            <p>FROM $7,200</p>
        </div>

   </div>
  <div class="item">
       <img class="item-img" src="https://cdn.shopify.com/s/files/1/0233/8069/products/1x1-crop-shoppe-amber-interiors--scotland2021-1111-Edit-Edit-web_1df8e7af-ef24-4e7a-896c-fb7fa2c1873a_720x.jpg?v=1614390007">
       <div class="hover">
        <h1>George Rectangular Coffee Table</h1>
        <p>$5,700</p>
    </div>

  </div>
  <div class="item">
    <img class="item-img" src="https://cdn.shopify.com/s/files/1/0233/8069/products/1x1-crop-shoppe-amber-interiors-scotland2021-820-16_352a4721-bb79-425f-852c-7e2c7ebda7db_720x.jpg?v=1614377149">
    <div class="hover">
        <h1>Shelby Bed with Footboard</h1>
        <p>FROM $5,400</p>
    </div>

  </div> 

</div>

<div class="cont">
    <div class="item">
        <img class="item-img" src="https://cdn.shopify.com/s/files/1/0233/8069/products/1x1-crop-shoppe-amber-interiors-scotland2021-1429-16_720x.jpg?v=1614704840">
        <div class="hover">
            <h1>Village Console Table Medium</h1>
            <p>$1,400 (SOLD OUT)</p>
        </div>

   </div>
  <div class="item">
       <img class="item-img" src="https://cdn.shopify.com/s/files/1/0233/8069/products/1x1-crop-shoppe-amber-interiors--5X4A3140-HDR-Edit-web_720x.jpg?v=1621631601">
       <div class="hover">
        <h1>Lori Armchair</h1>
        <p>$3,800</p>
    </div>

  </div>
  <div class="item">
    <img class="item-img" src="https://cdn.shopify.com/s/files/1/0233/8069/products/1x1-crop-shoppe-amber-interiors-scotland2021-1421-13_720x.jpg?v=1617382697">
    <div class="hover">
        <h1>Easton Dresser</h1>
        <p>$2,321</p>
    </div>

  </div> 
</div>
<div class="up">
    <a href="#up"><img src="/multimedia/iconos/up.png" alt=""></a>
</div>
