

<div class="contenedor">
    <div class="slider" id="slider">
        <div class="slider__section">
            <img src="/multimedia/imagenes/ugh.jpg" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="/multimedia/imagenes/img2.jpg" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="/multimedia/imagenes/img3.jpg" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="/multimedia/imagenes/img4.jpg" class="slider__img">
        </div>
    </div>
    <div class="slider_btn slider_btn--right" id="btn-right"></div>
    <div class="slider_btn slider_btn--left" id="btn-left"></div>
</div>

<div id="contenedor">
    <div class="img">
        <img class="je"
            src="https://cdn.shopify.com/s/files/1/0233/8069/files/isaac-shoppe-amber-interiors-scotland-feb-2021-web-_1_540x.jpg?v=1615250109">

    </div>
    <div class="img">
        <img class="ji"
            src="https://cdn.shopify.com/s/files/1/0233/8069/files/isaac-shoppe-amber-interiors-scotland-feb-2021-web_1_540x.jpg?v=1615250013">

    </div>
    <div class="img">
        <img class="ju"
            src="https://cdn.shopify.com/s/files/1/0233/8069/files/shoppe-amber-interiors-scotland2021-888-Edit-7_1_540x.jpg?v=1615250635">
    </div>

</div>

<!-- BEST SELLERS -->
<div class="best">
    <a href="/bestSellers">Shop best sellers</a>
    <h3></h3>
</div>

<script src="./script/slider.js"></script> 