<nav class="nav">
    <a href="/"> <img class="logo" src="/multimedia/iconos/logoo.png"></a>
    <ul class="menu">

        <li><a href="#">Shop</a>
            <ul class="submenu">
                <li><a href="/shop">Furniture</a></li>
                <li><a href="/bestSellers">Best sellers</a></li>
            </ul>
        </li>
        <li><a href="#">LookBook</a>
            <ul class="submenu">
                <li><a href="/lookBook">Edition 1</a></li>
                <li><a href="/edition2">Edition 2</a></li>
            </ul>
        </li>
        <li><a href="/aboutUs">About us</a></li>
        <li><a href="/contactUs">Contact us</a></li>

    </ul>
    <img class="cart" src="https://static.thenounproject.com/png/504745-200.png">
    <img class="login" src="https://cdn.iconscout.com/icon/free/png-512/account-avatar-profile-human-man-user-30448.png">
</nav>

