@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 17px;
} 
header{
    width: 100%;
    background-color: rgb(236, 226, 220);
    position: fixed;
    top: 0;
}
.nav{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    list-style: none;
}
.menu{
    background-color: rgb(236, 226, 220);
    text-align: right;
    height: fit-content;
    width: 80%;
}
.menu > li{
    display: inline-block;
    padding: 5px;  
}
.menu > li > a{
    display: block;
    padding: 0px 25px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;  
}
.submenu{
    position: absolute;
    background-color: rgb(241, 241, 241);
    width: 120px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    text-align: center;
}
.submenu li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif; 
    color:black;  
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.logo{
     float: left;
    height: 60px;
    margin-left: 100px; 
    padding-top: 0px ;
}
.cart{
    height: 30px;
    padding-left: 20px;
    padding-right: 10px;
}
.login{
    height: 30px;
    padding-right: 100px;
}
/* FOOTER DE LA PAG */
.footer{
    background-color: rgb(236, 226, 220);
    padding: 30px;
    height: 330px;
    margin-top: 100px;
    width: 100%;
}
.footer ul{
    list-style: none; 
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer2{
    width: 15%;
    padding: 0 15px;
    margin-left: 90px;
}
.footer h4{
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: bold;
    padding-bottom: 5px;
}
.footer a{
    float: right;
    margin-left: 30px;
    color: black;
    padding-top: 5px;
}
.social{
    float: right;
}
.footer img{
    margin-left: 80px;
}
 .footer li{
    padding-bottom: 10px;
    font-family:'Merriweather', serif;
    margin-top: 5px;
}
/* RESPONSIVE FOOTER */
@media(max-width: 767px){
    .footer2{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer2{
        width: 100%;
    }
}
/* CONTENIDO DE LA PAG */
#fondo1{
    background:rgb(236, 226, 220) ;
    margin-bottom: 70px;
}
#texto p{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    font-size: 22px;
    text-align: justify;
}
#fondo img{
    float: right;
   height: 520px;
   margin-top: 30px;
   margin-right: 150px;
   margin-left: 100px;
}
#texto{
    padding: 80px;
    font-size: 20px;
}
#texto h2{
    text-align: center;
    font-size: 25px;
    padding-bottom: 15px;
    font-family:'Merriweather', serif;
}
/* CONTENIDO DE LA PAG */
#contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
#mission h2{
    padding: 0px;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family:'Merriweather', serif;
}
#mission p{
    text-align: justify;
    font-size: 18px; 
    font-family:'Merriweather', serif; 
}
#mission{
    background-color: white;
    height: 250px;
    width: 370px;
}
#vision h2{
    padding: 0px;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family:'Merriweather', serif;
}
#vision p{
    text-align: justify;
    font-size: 18px; 
    font-family:'Merriweather', serif;
}
#vision{
    background-color: white;
    height: 250px;
    width: 370px;
}
#values h2{
    padding: 0px;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family:'Merriweather', serif;
}
#values p{
    text-align: justify;
    font-size: 18px; 
    font-family:'Merriweather', serif;
}
#values{
    background-color: white;
    height: 250px;
    width: 370px;
}