@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 17px;
} 
header{
    width: 100%;
    background-color: rgb(236, 226, 220);
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    list-style: none;
}
.menu{
    background-color: rgb(236, 226, 220);
    text-align: right;
    height: fit-content;
    width: 80%;
}
.menu > li{
    display: inline-block;
    padding: 5px;
    
}
.menu > li > a{
    display: block;
    padding: 0px 25px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;  
}
.submenu{
    position: absolute;
    background-color: rgb(241, 241, 241);
    width: 120px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    text-align: center;
}
.submenu li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif; 
    color:black;    
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.logo{
     float: left;
    height: 60px;
    margin-left: 100px; 
    padding-top: 0px ; 
}
.cart{
    height: 30px;
    padding-left: 20px;
    padding-right: 10px;
}
.login{
    height: 30px;
    padding-right: 100px;
}

.footer{
    background-color: rgb(236, 226, 220);
    padding: 30px;
    height: 330px;
    margin-top: 230px;
    width: 100%;
}
.footer ul{
    list-style: none; 
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer2{
    width: 15%;
    padding: 0 15px;
    margin-left: 90px;
}
.footer h4{
    font-family: 'Raleway', sans-serif;
    color: black;
}
.footer a{
    float: right;
    margin-left: 30px;
    color: black;
    padding-top: 5px;  
}
.social{
    float: right; 
}
 .footer li{
    padding-bottom: 5px;
    font-family:'Merriweather', serif;
    margin-top: 5px;
}
@media(max-width: 767px){
    .footer2{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer2{
        width: 100%;
    
    }
}
#titulo{
    margin-top: 150px;
    margin-left: 30px;
    margin-bottom: 50px;
}
#titulo h2{
    font-size: 25px;
    font-family:'Merriweather', serif;
}
#titulo p{
    font-family:'Merriweather', serif;
    padding-top: 10px;
    font-size: 15px;
}
audio{
    float: right;
    margin-right: 50px;
    z-index: 1;
}
.uno{
    height: 80%;
    width: 100%;
}
#img1{
    display: flex;   
}
.jo{
    height: 675px;
    width: 130%;
    margin-left: 30px;
}
.je{
    height: 670px;
    width: 450px;
    float: right;
    margin-top: 2px;
    margin-right: 40px;
}
.img{
    width: 20%;
    margin: 50px;
    height: 400px; 
}
#contenedor{
    width: 100%;
    display: flex;
    margin-top: 10px; 
}
.ji{
    height: 630px;
}
.ju{
    height: 630px;
    margin-left: 110px;
}
.ja{
    height: 635px;
    width: 450px;
    margin-left: 210px;
}