<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {ruta: "./css/edition2.css"}) %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header> 
    <main>
        <%- include('../partials/bodyEdition2') %>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>